# Dependencies
node_modules
**/node_modules

# Build outputs
dist
**/dist
.next
out
build

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*
!.env.example

# IDE
.idea
.vscode

# Logs
*.log
npm-debug.log*

# Testing
coverage

# Astro
.astro
pocketbase/pb_data
pocketbase/pb_migrations
